:root {
	--orangeColor: #fdac82;
	--lightgrayColor: #585a6e;
	--darkColor: #2a2b3b;
}

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,
html {
	min-height: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 70px;
}

body {
	background-image: linear-gradient(
		-45deg,
		#333544 37.5%,
		#2a2b3b 37.5%,
		#2a2b3b 50%,
		#333544 50%,
		#333544 87.5%,
		#2a2b3b 87.5%,
		#2a2b3b
	);
	background-size: 10px 10px;
}

ol,
ul {
	list-style: none;
}

#hello {
	background: url('/assets/img/55b7feaab8ae077c13a865c4c4899bfcd55cea8b.png')
		no-repeat;
	background-size: 100%;
	background-position: s;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
	color: white;
}

.block-help-color {
	background: rgba(108, 108, 235, 0.855);
	border: 2px solid rgba(245, 245, 220, 0.717);
	padding: 10px;
	border-radius: 20px;
}

/* From Uiverse.io by cssbuttons-io */
.fancy {
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 13px;
	margin: 10px;
}

.fancy::before {
	content: ' ';
	width: 1.5625rem;
	height: 2px;
	background: black;
	top: 50%;
	left: 1.5em;
	position: absolute;
	transform: translateY(-50%);
	transform-origin: center;
	transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
	font-size: 1.125em;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

.fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
	color: white;
	background: black;
}

.fancy:hover::before {
	width: 0.9375rem;
	background: white;
}

.fancy:hover .text {
	color: white;
	padding-left: 1.5em;
}

.fancy:hover .top-key {
	left: -2px;
	width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
}

#courses {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	background: rgb(140, 180, 221);
	border-radius: 20px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.card {
	width: 260px;
	height: 450px;
	background: white;
	border: 2px solid black;
	border-radius: 20px;
	transition: 0.3s;
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.card h2 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card:hover {
	transform: scale(1.01) translateY(-5px);
}

.card img {
	width: 60px;
	position: absolute;
	top: 5px;
}

.card ol li::before {
	content: '•';
	font-size: 20px;
	margin-right: 5px;
}

.card ol li {
	display: flex;
	align-items: center;
}

.desc {
	margin-top: 30px;
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: flex-start;
}

.btn {
	width: 90%;
	height: 100%;
	background: dodgerblue;
	border: 2px solid black;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: 0.3s;
}

.a-btn {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: white;
}

.btn:hover {
	transform: scale(1.1);
	background: rgb(104, 178, 251);
}

.card-conteiner {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.animated-icon {
	animation: move 1s linear infinite;
}

@keyframes move {
	to {
		transform: scale(1.3);
	}
}

.preview-img {
	width: 200px;
}

.home-of-course {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3 {
	color: white;
	text-align: center;
}

.home-of-course p {
	width: 80%;
	background: var(--darkColor);
	color: var(--orangeColor);
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	box-shadow: 1px 1px 6px black, -1px -1px 6px black;
}

.home-of-course .ul {
	width: 80%;
	background: var(--darkColor);
	color: var(--orangeColor);
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	box-shadow: 1px 1px 6px black, -1px -1px 6px black;
}

.home-of-course .ul li h5 {
	margin-left: 10px;
}

.home-of-course .ul li h4::first-letter {
	color: white;
}

main {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	color: white;
	background: var(--darkColor);
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 1px 1px 6px black, -1px -1px 6px black;
}

main h3 i {
	font-size: 30px;
	color: var(--orangeColor);
}

main h3 {
	display: flex;
	align-items: center;
}

main ul li {
	color: var(--orangeColor);
	width: 100%;
	margin-bottom: 5px;
	background: var(--lightgrayColor);
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	cursor: pointer;
}

main ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card h2 {
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
}

.card h3 {
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
}

b {
	color: var(--orangeColor);
}

a {
	color: rgb(41, 156, 41);
	transition: 0.2s;
}

a:hover {
	color: red;
}

.block-img img {
	width: 80%;
	background: var(--darkColor);
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	box-shadow: 1px 1px 6px black, -1px -1px 6px black;
}

.block-img {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

noscript {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(225, 45, 45);
	z-index: 100000;
	color: white;
	font-size: 30px;
}

.wheel-and-hamster {
	--dur: 1s;
	position: relative;
	width: 12em;
	height: 12em;
	font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
	position: absolute;
}

.wheel,
.spoke {
	border-radius: 50%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wheel {
	background: radial-gradient(
		100% 100% at center,
		hsla(0, 0%, 60%, 0) 47.8%,
		hsl(0, 0%, 60%) 48%
	);
	z-index: 2;
}

.hamster {
	animation: hamster var(--dur) ease-in-out infinite;
	top: 50%;
	left: calc(50% - 3.5em);
	width: 7em;
	height: 3.75em;
	transform: rotate(4deg) translate(-0.8em, 1.85em);
	transform-origin: 50% 0;
	z-index: 1;
}

.hamster__head {
	animation: hamsterHead var(--dur) ease-in-out infinite;
	background: hsl(30, 90%, 55%);
	border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
	box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
		0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
	top: 0;
	left: -2em;
	width: 2.75em;
	height: 2.5em;
	transform-origin: 100% 50%;
}

.hamster__ear {
	animation: hamsterEar var(--dur) ease-in-out infinite;
	background: hsl(0, 90%, 85%);
	border-radius: 50%;
	box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
	top: -0.25em;
	right: -0.25em;
	width: 0.75em;
	height: 0.75em;
	transform-origin: 50% 75%;
}

.hamster__eye {
	animation: hamsterEye var(--dur) linear infinite;
	background-color: hsl(0, 0%, 0%);
	border-radius: 50%;
	top: 0.375em;
	left: 1.25em;
	width: 0.5em;
	height: 0.5em;
}

.hamster__nose {
	background: hsl(0, 90%, 75%);
	border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
	top: 0.75em;
	left: 0;
	width: 0.2em;
	height: 0.25em;
}

.hamster__body {
	animation: hamsterBody var(--dur) ease-in-out infinite;
	background: hsl(30, 90%, 90%);
	border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
	box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
		0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
	top: 0.25em;
	left: 2em;
	width: 4.5em;
	height: 3em;
	transform-origin: 17% 50%;
	transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
	clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
	top: 2em;
	left: 0.5em;
	width: 1em;
	height: 1.5em;
	transform-origin: 50% 0;
}

.hamster__limb--fr {
	animation: hamsterFRLimb var(--dur) linear infinite;
	background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
	transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
	animation: hamsterFLLimb var(--dur) linear infinite;
	background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
	transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
	border-radius: 0.75em 0.75em 0 0;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 30%,
		70% 90%,
		70% 100%,
		30% 100%,
		40% 90%,
		0% 30%
	);
	top: 1em;
	left: 2.8em;
	width: 1.5em;
	height: 2.5em;
	transform-origin: 50% 30%;
}

.hamster__limb--br {
	animation: hamsterBRLimb var(--dur) linear infinite;
	background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
	transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
	animation: hamsterBLLimb var(--dur) linear infinite;
	background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
	transform: rotate(-25deg);
}

.hamster__tail {
	animation: hamsterTail var(--dur) linear infinite;
	background: hsl(0, 90%, 85%);
	border-radius: 0.25em 50% 50% 0.25em;
	box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
	top: 1.5em;
	right: -0.5em;
	width: 1em;
	height: 0.5em;
	transform: rotate(30deg) translateZ(-1px);
	transform-origin: 0.25em 0.25em;
}

.spoke {
	animation: spoke var(--dur) linear infinite;
	background: radial-gradient(
			100% 100% at center,
			hsl(0, 0%, 60%) 4.8%,
			hsla(0, 0%, 60%, 0) 5%
		),
		linear-gradient(
				hsla(0, 0%, 55%, 0) 46.9%,
				hsl(0, 0%, 65%) 47% 52.9%,
				hsla(0, 0%, 65%, 0) 53%
			)
			50% 50% / 99% 99% no-repeat;
}

@keyframes hamster {
	from,
	to {
		transform: rotate(4deg) translate(-0.8em, 1.85em);
	}

	50% {
		transform: rotate(0) translate(-0.8em, 1.85em);
	}
}

@keyframes hamsterHead {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(0);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(8deg);
	}
}

@keyframes hamsterEye {
	from,
	90%,
	to {
		transform: scaleY(1);
	}

	95% {
		transform: scaleY(0);
	}
}

@keyframes hamsterEar {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(0);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(12deg);
	}
}

@keyframes hamsterBody {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(0);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(-2deg);
	}
}

@keyframes hamsterFRLimb {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(50deg) translateZ(-1px);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(-30deg) translateZ(-1px);
	}
}

@keyframes hamsterFLLimb {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(-30deg);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(50deg);
	}
}

@keyframes hamsterBRLimb {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(-60deg) translateZ(-1px);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(20deg) translateZ(-1px);
	}
}

@keyframes hamsterBLLimb {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(20deg);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(-60deg);
	}
}

@keyframes hamsterTail {
	from,
	25%,
	50%,
	75%,
	to {
		transform: rotate(30deg) translateZ(-1px);
	}

	12.5%,
	37.5%,
	62.5%,
	87.5% {
		transform: rotate(10deg) translateZ(-1px);
	}
}

@keyframes spoke {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(-1turn);
	}
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 7s all;
	opacity: 1;
	background: rgb(112, 111, 111);
}

.block-help img {
	width: 50px;
}

.block-help {
	position: fixed;
	bottom: 10px;
	right: 5px;
	display: flex;
	align-items: start;
}

.block-help img{
	margin: 0;
	animation:move 2s linear infinite 3s;
	transform-origin: center;
}

#courses clases img{
	width: 90%;
}


@keyframes move{
	50%{
		transform: rotate(-20deg);
	}
	 75%{
		transform: rotate(20deg);
	} 100%{
		transform: rotate(-20deg);
	}
}

.block-help a {
	padding: 10px;
	background: white;
	border-radius: 10px;
	opacity: 0;
	transition: 0.2s;
	margin-top: -10px;
}

.block-help:hover.block-help a {
	opacity: 1;
}

.block-update {
	display: flex;
	justify-content: center;
	background: linear-gradient(rgb(236, 180, 76), rgb(192, 188, 188));
	padding: 10px;
}

@media screen and (max-width: 600px) {
	iframe {
		width: 460px;
		height: 260px;
	}
	video {
		width: 460px;
		height: 260px;
	}
}
@media screen and (max-width: 500px) {
	h2 {
		font-size: 20px;
	}
	iframe {
		width: 360px;
		height: 205px;
	}
	video {
		width: 360px;
		height: 205px;
	}
}
@media screen and (max-width: 400px) {
	iframe {
		width: 260px;
		height: 150px;
	}
	video {
		width: 260px;
		height: 150px;
	}
	ul li a {
		font-size: 12px;
	}
	.conteiner h1 {
		margin-top: 50px;
	}
}
@media screen and (max-width: 370px) {
	.card {
		width: 220px;
		height: 410px;
		font-size: 15px;
	}
}

.big {
	height: 500px;
}
